@model Sinema_Dunyasi.Models.DTO.MovieListVm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="search-bar">
    <form method="get" href="/Adminler/Home/Index">
        <input type="text" name="term" placeholder="film ara">
        <button type="submit"><i class="fa fa-search"></i></button>
        <a class="btn btn-default" href="/Adminler/Home/Index">tüm filmler</a>
    </form>
</section>
<section class="movies">
    @foreach(var movie in Model.MovieList){
        <div class="movie-card imagedivindex" onclick="window.location.href='/Adminler/Home/MovieDetail?movieId=@movie.Id'">
            <div class="movie-image">
                <img src="/Uploads/@movie.MovieImage">
            </div>
            <div class="movie-info">
                <h4 class="divh4"><span>Başlık : </span> @movie.Title</h4>
                <h4 class="divh"><span>Tür : </span> @movie.GenreNames</h4>
                <h4 class="divh"><span>Yayın Yılı : </span> @movie.ReleaseYear</h4>
            </div>
            <div class="movie-actions">            
                <a class="btn btn-default"> <i class="bi bi-eye-fill"></i>   &#xF33E; Göz at</a>
            </div>
        </div>
    }
</section>

<div class="pagination">
    @for(int i=1;i<=Model.TotalPages;i++){
        if(i==Model.CurrentPage){
            <a href="/Adminler/Home/Index?currentPage=@i&term=@Model.Term" class="active">@i</a>
        }
        else{
            <a href="/Adminler/Home/Index?currentPage=@i&term=@Model.Term">@i</a>

        }
    }
</div>